# Solu√ß√µes de Data Science para o Titanic

### Este notebook √© um complemento do livro [Data Science Solutions](https://www.amazon.com/Data-Science-Solutions-Startup-Workflow/dp/1520545312).

O notebook nos conduz por um fluxo de trabalho t√≠pico para resolver competi√ß√µes de ci√™ncia de dados em sites como o Kaggle.

Existem v√°rios notebooks excelentes para estudar entradas em competi√ß√µes de ci√™ncia de dados. No entanto, muitos omitem algumas explica√ß√µes sobre como a solu√ß√£o √© desenvolvida, j√° que esses notebooks s√£o feitos por especialistas para especialistas. O objetivo deste notebook √© seguir um fluxo de trabalho passo a passo, explicando cada etapa e a l√≥gica por tr√°s de cada decis√£o tomada durante o desenvolvimento da solu√ß√£o.

## Etapas do fluxo de trabalho

O fluxo de trabalho para a solu√ß√£o da competi√ß√£o passa por sete etapas descritas no livro *Data Science Solutions*.

1. Defini√ß√£o da quest√£o ou problema.
2. Obter dados de treinamento e teste.
3. Manipular, preparar e limpar os dados.
4. Analisar, identificar padr√µes e explorar os dados.
5. Modelar, prever e resolver o problema.
6. Visualizar, relatar e apresentar as etapas de resolu√ß√£o do problema e a solu√ß√£o final.
7. Fornecer ou submeter os resultados.

O fluxo de trabalho indica a sequ√™ncia geral de como cada etapa pode seguir a outra. No entanto, existem casos de uso com exce√ß√µes.

- Podemos combinar v√°rias etapas do fluxo de trabalho. Podemos analisar visualizando os dados.
- Realizar uma etapa antes da indicada. Podemos analisar os dados antes e depois da manipula√ß√£o.
- Executar uma etapa v√°rias vezes em nosso fluxo de trabalho. A etapa de visualiza√ß√£o pode ser usada v√°rias vezes.
- Omitir uma etapa por completo. Pode ser que n√£o precisemos da etapa de fornecimento para habilitar a produ√ß√£o ou servi√ßo de nosso conjunto de dados em uma competi√ß√£o.

## Defini√ß√£o da quest√£o e do problema

Sites de competi√ß√£o como o Kaggle definem o problema a ser resolvido ou as perguntas a serem respondidas enquanto fornecem os conjuntos de dados para treinar seu modelo de ci√™ncia de dados e testar os resultados do modelo em rela√ß√£o a um conjunto de teste. A defini√ß√£o da quest√£o ou problema para a competi√ß√£o de Sobreviv√™ncia no Titanic √© [descrita aqui no Kaggle](https://www.kaggle.com/c/titanic).

> Sabendo, a partir de um conjunto de treinamento de amostras que lista os passageiros que sobreviveram ou n√£o ao desastre do Titanic, nosso modelo pode determinar, com base em um conjunto de teste que n√£o cont√©m a informa√ß√£o de sobreviv√™ncia, se esses passageiros do conjunto de teste sobreviveram ou n√£o.

Tamb√©m podemos querer desenvolver um entendimento inicial sobre o dom√≠nio de nosso problema. Isso √© descrito na [p√°gina de descri√ß√£o da competi√ß√£o no Kaggle](https://www.kaggle.com/c/titanic). Aqui est√£o os principais pontos a serem observados.

- Em 15 de abril de 1912, durante sua viagem inaugural, o Titanic afundou ap√≥s colidir com um iceberg, matando 1.502 das 2.224 pessoas entre passageiros e tripula√ß√£o. Traduzido para uma taxa de sobreviv√™ncia de 32%.
- Uma das raz√µes pelas quais o naufr√°gio causou tanta perda de vidas foi a falta de botes salva-vidas suficientes para os passageiros e a tripula√ß√£o.
- Embora houvesse um elemento de sorte envolvido na sobreviv√™ncia, alguns grupos de pessoas tinham mais chances de sobreviver do que outros, como mulheres, crian√ßas e pessoas da alta classe social.

## Objetivos do fluxo de trabalho

O fluxo de trabalho de solu√ß√µes de ci√™ncia de dados visa resolver sete objetivos principais.

**Classifica√ß√£o.** Podemos querer classificar ou categorizar nossas amostras. Tamb√©m podemos querer entender as implica√ß√µes ou a correla√ß√£o de diferentes classes com o objetivo da solu√ß√£o.

**Correla√ß√£o.** Podemos abordar o problema com base nos recursos dispon√≠veis no conjunto de treinamento. Quais recursos dentro do conjunto de dados contribuem significativamente para o objetivo da nossa solu√ß√£o? Estatisticamente falando, existe uma [correla√ß√£o](https://en.wikiversity.org/wiki/Correlation) entre um recurso e o objetivo da solu√ß√£o? √Ä medida que os valores do recurso mudam, o estado da solu√ß√£o tamb√©m muda, e vice-versa? Isso pode ser testado tanto para recursos num√©ricos quanto categ√≥ricos no conjunto de dados fornecido. Tamb√©m podemos querer determinar a correla√ß√£o entre recursos al√©m da sobreviv√™ncia para objetivos subsequentes e etapas do fluxo de trabalho. Correlacionar certos recursos pode ajudar a criar, completar ou corrigir os recursos.

**Convers√£o.** Para a etapa de modelagem, √© necess√°rio preparar os dados. Dependendo da escolha do algoritmo de modelo, pode ser necess√°rio que todos os recursos sejam convertidos para valores num√©ricos equivalentes. Por exemplo, convertendo valores categ√≥ricos de texto em valores num√©ricos.

**Completa√ß√£o.** A prepara√ß√£o dos dados tamb√©m pode exigir que estimemos qualquer valor ausente em um recurso. Os algoritmos de modelagem podem funcionar melhor quando n√£o h√° valores ausentes.

**Corre√ß√£o.** Podemos tamb√©m analisar o conjunto de treinamento fornecido em busca de erros ou valores possivelmente imprecisos dentro dos recursos e tentar corrigir esses valores ou excluir as amostras que cont√™m os erros. Uma maneira de fazer isso √© detectar quaisquer valores discrepantes entre nossas amostras ou recursos. Podemos tamb√©m descartar completamente um recurso se ele n√£o estiver contribuindo para a an√°lise ou se distorcer significativamente os resultados.

**Cria√ß√£o.** Podemos criar novos recursos com base em um recurso existente ou em um conjunto de recursos, de modo que o novo recurso siga os objetivos de correla√ß√£o, convers√£o e completude.

**Gr√°ficos.** Como selecionar os gr√°ficos e visualiza√ß√µes corretos dependendo da natureza dos dados e dos objetivos da solu√ß√£o.


[Click me!! Use GPT-4o with no limitsÔºÅüöÄ üöÄ](https://talk.speakpal.ai/talk/?teacher_id=21&ref=pgts)

In [5]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

## Obter dados
O pacote Python Pandas nos ajuda a trabalhar com nossos conjuntos de dados. Come√ßamos obtendo os conjuntos de dados de treinamento e teste em DataFrames do Pandas. Tamb√©m combinamos esses conjuntos de dados para executar certas opera√ß√µes em ambos os conjuntos juntos.

In [10]:
train_df = pd.read_csv('titanic_data.csv')

## Analisar descrevendo os dados
O Pandas tamb√©m ajuda a descrever os conjuntos de dados, respondendo √†s seguintes perguntas logo no in√≠cio de nosso projeto.

Quais recursos est√£o dispon√≠veis no conjunto de dados?

Observe os nomes dos recursos para manipul√°-los ou analis√°-los diretamente. Esses nomes de recursos est√£o descritos na p√°gina de dados do Kaggle aqui.

In [9]:
print(train_df.columns.values)

['PassengerId' 'Survived' 'Pclass' 'Name' 'Sex' 'Age' 'SibSp' 'Parch'
 'Ticket' 'Fare' 'Cabin' 'Embarked']

**Quais recursos s√£o categ√≥ricos?**

Esses valores classificam as amostras em conjuntos de amostras semelhantes. Dentro dos recursos categ√≥ricos, os valores s√£o nominais, ordinais, de raz√£o ou intervalares? Entre outras coisas, isso nos ajuda a escolher os gr√°ficos apropriados para visualiza√ß√£o.

Categ√≥ricos: Survived, Sex e Embarked. Ordinais: Pclass.
Quais recursos s√£o num√©ricos?

Quais recursos s√£o num√©ricos? Esses valores variam de amostra para amostra. Dentro dos recursos num√©ricos, os valores s√£o discretos, cont√≠nuos ou baseados em s√©ries temporais? Entre outras coisas, isso nos ajuda a escolher os gr√°ficos apropriados para visualiza√ß√£o.

Cont√≠nuos: Age, Fare. Discretos: SibSp, Parch.

In [12]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

**Quais recursos t√™m tipos de dados mistos?**

Dados num√©ricos e alfanum√©ricos dentro do mesmo recurso. Estes s√£o candidatos para o objetivo de corre√ß√£o.

Ticket √© uma mistura de tipos de dados num√©ricos e alfanum√©ricos. Cabin √© alfanum√©rico.
Quais recursos podem conter erros ou erros de digita√ß√£o?

Isso √© mais dif√≠cil de revisar em um grande conjunto de dados; no entanto, revisar algumas amostras de um conjunto de dados menor pode nos mostrar imediatamente quais recursos podem exigir corre√ß√£o.

O recurso Name pode conter erros ou erros de digita√ß√£o, pois existem v√°rias maneiras de descrever um nome, incluindo t√≠tulos, par√™nteses e aspas usadas para nomes alternativos ou abreviados.

In [13]:
train_df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

**Quais recursos cont√™m valores em branco, nulos ou vazios?**

Esses precisar√£o ser corrigidos.

- Os recursos Cabin > Age > Embarked cont√™m v√°rios valores nulos, nessa ordem, no conjunto de dados de treinamento.
- Cabin > Age est√£o incompletos no caso do conjunto de dados de teste.

**Quais s√£o os tipos de dados dos v√°rios recursos?**

Isso nos ajuda durante o objetivo de convers√£o.

Sete recursos s√£o inteiros ou decimais. Seis no caso do conjunto de dados de teste.
Cinco recursos s√£o strings (objeto).

In [15]:
train_df.info()
print('_'*40)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
________________________________________


**Qual √© a distribui√ß√£o dos valores dos recursos num√©ricos entre as amostras?**

Isso nos ajuda a determinar, entre outros primeiros insights, qu√£o representativo √© o conjunto de dados de treinamento em rela√ß√£o ao dom√≠nio real do problema.

- O total de amostras √© 891, ou 40% do n√∫mero real de passageiros a bordo do Titanic (2.224).
- Survived √© um recurso categ√≥rico com valores 0 ou 1.
- Cerca de 38% das amostras sobreviveram, representando a taxa real de sobreviv√™ncia de 32%.
- A maioria dos passageiros (> 75%) n√£o viajou com pais ou filhos.
- Quase 30% dos passageiros tinham irm√£os e/ou c√¥njuges a bordo.
- As tarifas variaram significativamente, com poucos passageiros (<1%) pagando at√© $512.
- Poucos passageiros idosos (<1%) estavam na faixa et√°ria de 65-80 anos.

In [16]:
train_df.describe()
# Review survived rate using `percentiles=[.61, .62]` knowing our problem description mentions 38% survival rate.
# Review Parch distribution using `percentiles=[.75, .8]`
# SibSp distribution `[.68, .69]`
# Age and Fare `[.1, .2, .3, .4, .5, .6, .7, .8, .9, .99]`

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200